        <footer>
            <div id="footer-menu">
            	<ul>
            		<li>
            			<a href=""></a>
            			<a href=""></a>
            			<a href=""></a>
            			<a href=""></a>
            		</li>
            	</ul>
            </div>
            <span>ITransfo &copy; 2017-2018</span>
            <span>Developed by medyas</span>
        </footer>
    </body>
</html>