@font-face {
font-family: 'Fredericka the Great';
font-style: normal;
font-weight: 400;
src: local('Fredericka the Great'), local('FrederickatheGreat'), url(https://fonts.gstatic.com/s/frederickathegreat/v6/9Bt33CxNwt7aOctW2xjbCstzwVKsIBVV--Sjxbc.woff2) format('woff2');
unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
font-family: "Dancing Script";
src: url("fonts/DancingScript-Bold.ttf");
src:url("fonts/DancingScript-Regular.ttf");
}
body {
  font-family: 'Times new romain', 'serif';
}
#alert {
  position: fixed;
  top: 0px;
  text-align: center;
  z-index: 99999;
  display: none;
}

   /* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #19212b; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
}
/* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}
/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

.navbar {
  position: fixed;
  background-color: #17a2b8;
  color: white;
}
.navbar a {
  color: white;
}
#user #profile-menu {
  width: 300px;
  height: auto;
  visibility: visible;
  position: absolute;
  top: 45px;
  right: 0px;
  z-index: 1000;
  float: left;
  background-color: white;
  color: black;
}
#user #upper-div {
  z-index: 99999;
  position: absolute;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent white transparent;
  top: -30px;
  right: 0%;
}
#user #profile-setting {
  margin: 1px;
  padding: 2px;
  z-index: 10000;
 }
#user #profile-setting a {
  color: #19212b;
}
#user #profile-setting div {
  z-index: 10000;
}
#profile-info div {
    display: inline-block;
}
#profile-info p {
    margin: 0px;
}
#user #profile-actions {
    border-top: 1px solid gray;
    margin-right: 3px;
    height: 50px;
    background-color: #e4e4e4;
    margin-right: 2px;
}
#user #profile-actions div {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
}
#user #profile-actions a {
    text-decoration: none;
}
#user #profile-actions #signout {
    margin-left: 35px;
}

.navbar-brand {
  font-family: 'Fredericka the Great', cursive;
  font-size: 120%;
  color: white !important;
}
#up-menu {
  background-color: #262f3d;
}
#itransfo-logo {
  margin-bottom: 5%;
}
#itransfo-logo #cloud {
  color: white;
  top: 0px;
}
#itransfo-logo #power {
  position: absolute;
  top: 25px;
  margin-left: -47px;
  color: #262f3d; 
  z-index: 10;
}
#admin-panel {
  margin: 5% 0px;
}
#admin-panel a, #admin-panel #headerDivider {
  display: inline;
}
#admin-panel #headerDivider {
  height: auto;
  border-left: 1px solid white;
  margin: 0px 5px;
}
#admin-angle-down {
    display: none;
}
#my-admin {
  color: #17a2b8;
}
#collapseAdmin ul {
    margin-left: 5%;
}
#collapseAdmin .ad-icon {
    width: 32px;
    margin: 2px;
}
#settings {
  color: white;
}
.menu {
  margin-top: 5%;
}
.menu li {
  list-style: none;
  margin: 2px;
}
.menu li:hover {
  color: white;
  border-bottom: 1px solid white;
}
.menu .icon {
  width: 32px;
  margin: 2px;
}
.menu ul {
  padding: 0px;
}
/* Style page content */
section {
  width: 85%;
  margin-left: 15%;
  padding: 0px 10px;
  background-color: #cfd8dc;
  height: auto;
}
.spinner {
  width: 40px;
  height: 40px;

  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #333;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
#main {
  width: 100%;
  height: 3000px;
  background-color: transparent;
}

footer {
  text-align: center;
  background-color: #19212b;
  color: white;
}
footer #footer-menu {
  margin: 0px auto;
}
footer span {
    font-family: 'Dancing Script', cursive;
}



/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
    .navbar {
        width: 40%;
        left: 60%;
    }
    section {
        width: 40%;
        margin-left: 60%;
    }
    .sidenav {
        width: 60%;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
    .navbar {
        width: 40%;
        left: 60%;
    }
    section {
        width: 40%;
        margin-left: 60%;
    }
    .sidenav {
        width: 60%;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .navbar {
        width: 70%;
        left: 30%;
    }
    section {
        width: 70%;
        margin-left: 30%;
    }
    .sidenav {
        width: 30%;
    }
}

/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
    .navbar {
        width: 75%;
        left: 25%;
    }
    section {
        width: 75%;
        margin-left: 25%;
    }
    .sidenav {
        width: 25%;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
    .navbar {
        width: 82%;
        left: 18%;
    }
    section {
        width: 82%;
        margin-left: 18%;
    }
    .sidenav {
        width: 18%;
    }
}
